.div_title_page{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-left: 3.8rem;
}

.icon{
    height: 1.5rem;
    width: 1.5rem;
    color: #454B60;
    cursor: pointer;
}

.title_page{
    font-size: 1.2rem;
    color: #454B60;
    cursor: pointer;
}